{% extends 'BaseSign.html' %}

{% block title %}Sign In{% endblock %}

{% block body %}
    <main class="form-signin">
        <form method="post">
            <h1 class="h3 mb-3 ms-2 fw-normal">Sign in</h1>

            <div class="form-floating">
              <input name="login" id="login" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input name="password" id="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-outline-dark" type="submit">Sign in</button>
            <p class="my-2">Don't have an account yet? <a href="/signup">Sign up</a></p>
      </form>
    </main>
{% endblock %}